@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
  
}
html{
    
    width: 100%;
   
}
body{
background: linear-gradient(gray,black 35%);
background-repeat: no-repeat;
background-size: cover;
}

/* css do menu */

.menu{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    position: absolute;
   font-size: 25px;
}

.logo{
    padding: 10px;
    position:absolute;
    margin-left: 10px;
}

.navegacao{
   padding: 0px;
   position:absolute ;
   margin-left: 390px ;
   display: flex;
   justify-content: center;

}

.navegacao a{
    padding: 40px;
    color: white;
    text-decoration: none;
    transition: 600ms ease-in-out;
    
}

.navegacao a:hover{
    color: yellow;
    text-decoration: underline;
    transition: 600ms ease-in-out;
}


.rede-social{
    margin-left:1700px  ;
    margin-top: 40px;
    position:absolute ;


}

.rede-social a{
    padding: 10px;
}
/* fim css do menu */

/* css carrosel */


.slider{
   display: flex;
   width: 800px;
   height: 500px;
   overflow: hidden;
   margin: 200px auto;
   }

   .slides{
    display: flex;
    width: 400%;
    height: 400px;
   }

   .slides input{
    display: none;
   }

   .-img-slide {
    width: 25%;
    position: relative;
   }

   .-img-slide img{
    width: 800px;
    height: 500px;
   }

   .manual-nav{
    position: absolute;
    width: 800px;
    margin-top: 450px;
    display: flex;
    justify-content: center;
   }

   .manual-btn{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
   cursor: pointer;
   transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 60px;
}

.manual-btn:hover{
    background-color: yellow;
    transition: 1s;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition: 2s;
}

#radio2:checked ~ .first{
    margin-left: -25%;
    transition: 2s;
}

#radio3:checked ~ .first{
    margin-left: -50%;
    transition: 2s;
}

#radio4:checked ~ .first{
    margin-left: -75%;
    transition: 2s;
}

.auto-nav div{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-nav{
    position: absolute;
    width: 800px;
    margin-top: 450px;
    display: flex;
    justify-content: center;
}

.auto-nav div:not(:last-child){
    margin-right: 60px;
}

#radio1:checked ~ .auto-nav .auto-btn1{
    background-color: yellow;
}

#radio2:checked ~ .auto-nav .auto-btn2{
    background-color: yellow;
}

#radio3:checked ~ .auto-nav .auto-btn3{
    background-color: yellow;
}

#radio4:checked ~ .auto-nav .auto-btn4{
    background-color: yellow;
}

/*  fim css carrosel */

/* cs area do contrato*/

.contrato {
   background: linear-gradient(black 25%,yellow ); 
    border: 2px solid white;
    height: 500px;
    width: 800px;
    display: table;
  margin: 40px auto;
  padding: 10px;
  color: white;
}

#titulo {
    
    height: 50px;
    width: 500px;
    display: flex;
    margin-left: 190px;
    
}



.caixa-de-entrada {
  
   margin-left: 30px;
   margin-top: 50px;
   height: 300px;
   width: 600px;
   padding: 10px;

}
    
.Mensagem {
    margin-top: 40px;
}

#Mensagem-caixa {
    width: 300px;
    height: 25px;
}

.enviar-cancelar {

    display: flex;
    padding: 10px;
    margin-left: 30px ;
}

#enviar{
    margin-right: 10px;
    width: 50px;
    background-color: black;
    color: white;
}

#cancelar {
background-color: black;
color: white;
}
#enviar:hover, #cancelar:hover {
color: yellow;
}

/* css area das fotos dos cds*/

.titulo-cds {
    color: white;
    text-align: center;
    padding: 10px;
}

.fotosCds {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.fotosCds div:not(:last-child){
    margin-right: 50px;
}

.imagem1, .imagem2 , .imagem3 , .imagem4 {
    border: 1px solid white;
}