*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    padding: 15px;
    max-width: 700px;
    margin: 0 auto;
}

.gallery-wrapper{
overflow-x: auto;
}

.gallery{
    display: flex;
    flex-flow:  row nowrap;
    gap: 15px;
    
}

.arrow-left,
.arrow-right {
position: absolute;
top: 0;
left: 0;
right: auto;
bottom: 0;
font-size: 20px ;
width: 40px;
text-align: center;
color: #fff;
cursor: pointer;
border: none;
background: linear-gradient(to left, transparent 0% , black 200%);
opacity: 0.1;
transition: all 600ms ease-in-out;

}

.arrow-left:hover,
.arrow-right:hover{
opacity: 1;

}





.arrow-right {
    
    
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0% , black 200%);
    
    }
    